
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Daniel DJAM | DEVELOPER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="lmpixels" />

  
  </head>

  <body class="page">

    <div class="page-scroll">
      <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        <header id="site_header" class="header">
          <div class="header-content clearfix">
                
      

            <!-- Navigation -->
            <div class="site-nav mobile-menu-hide">
              <ul class="leven-classic-menu site-main-menu">
                <li class="menu-item current-menu-item">
                  <%= link_to 'Home', '/home' , class: 'menu-item current-menu-item'%>
                </li>
                
                
                <li class="menu-item">
                  <%= link_to 'Curriculum', '/curriculum' , class: 'menu-item'%>
                </li>

                <li class="menu-item ">
                  <%= link_to 'Portfolio', '/portfolio' , class: 'menu-item'%>
              
                </li>
                
                <li class="menu-item ">
                   <%= link_to 'Blog', '/blog' , class: 'menu-item'%>
                </li>

                <li class="menu-item">
                  <a href="#">Contato</a>
                </li>
              </ul>
            </div>

            <!-- Mobile Menu Toggle -->
            <a class="menu-toggle mobile-visible">
              <i class="fa fa-bars"> = </i>
            </a>
            <!-- Mobile Menu Toggle -->
          </div>
        </header>
        <!-- /Header -->

        <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

              <div class="page-title">
                <h1>Blog</h1>
                <div class="page-subtitle">
                    <h4> Repassando um pouco de conhecimento.</h4>
                </div>
              </div>

              <div id="content" class="page-content site-content single-post" role="main">

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">

                    <div class="blog-masonry two-columns clearfix">
                      <!-- Blog Post 1 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in WordPress">WordPress</a>
                            </div>
                            <a href="#">
                               <%= image_tag('manutencao.png')%>
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <div class="post-date">04 Dec 2019</div>
                            <a href="#">
                              <h4 class="blog-item-title">How to Make a WordPress Plugin Extensible</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 1 -->
                      
                      <!-- Blog Post 2 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in Design">Design</a>
                            </div>

                            <a href="#">
                             <%= image_tag('manutencao.png')%>
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <div class="post-date">04 Dec 2019</div>
                            <a href="#">
                              <h4 class="blog-item-title">6 Easy Steps to Better Icon Design</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 2 -->
                      
                      <!-- Blog Post 3 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in UI">UI</a>
                            </div>
                            <a href="#">
                              <%= image_tag('manutencao.png')%>
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <div class="post-date">04 Dec 2019</div>
                            <a href="#">
                              <h4 class="blog-item-title">Creative and Innovative Navigation Designs</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 3 -->

                      <!-- Blog Post 4 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in Design">Design</a>
                            </div>
                            <a href="#">
                               <%= image_tag('manutencao.png')%>
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <div class="post-date">04 Dec 2019</div>
                            <a href="#">
                              <h4 class="blog-item-title">Why I Switched to Sketch For UI Design</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 4 -->
                      
                      <!-- Blog Post 5 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in E-Commerce">E-Commerce</a>
                            </div>
                            <a href="#">
                               <%= image_tag('manutencao.png')%>
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <div class="post-date">04 Dec 2019</div>
                            <a href="#">
                              <h4 class="blog-item-title">An Overview of E-Commerce Platforms</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 5 -->
                      
                      <!-- Blog Post 6 -->
                      <div class="item">
                        <div class="blog-card">
                          <div class="media-block">
                            <div class="category">
                              <a href="#" title="View all posts in E-Commerce">E-Commerce</a>
                            </div>
                            <a href="#">
                              <%= image_tag('manutencao.png')%>
                              <div class="mask"></div>
                            </a>
                          </div>
                          <div class="post-info">
                            <div class="post-date">04 Dec 2019</div>
                            <a href="#">
                              <h4 class="blog-item-title">Designing the Perfect Feature Comparison Table</h4>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- End of Blog Post 6 -->
                    </div>

                    <a class="btn btn-primary" href="#">See All Posts</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

       
        
      </div>
    </div>


  </body>
</html>

